// Colors

$black: #000;
$blue: #005;
$butterfly-bush: #6a5897;
$white: #fff;
$light-grey: #fafafa;
$persian-indigo: #5e1a8e;
$midnight-blue: #120d58;
$purple-heart: #6c1c98;
$deep-sky-blue: #04a9f3;
$sky-blue: #03a9f4;
$deep-lilac: #935fb3;